ipywidgets
matplotlib
numpy
pandas
torch==1.13.1+cpu
torchvision==0.14.1+cpu
torchaudio==0.13.1
tqdm
autopep8
astropy
beautifulsoup4
black
bokeh
flake8
lxml
patsy
psutil
pylint
pyecharts
plotly
requests
scikit-learn
statsmodels  
simplejson      
yapf      
nolds 
pynamical 
PyRQA 
pyts 
hundun  
AutoTS 
Sktime 
tsfresh 
fastai
tsai
prophet
