ipywidgets==7.7.5
matplotlib==3.7.1
numpy==1.24.2
scip==1.10.1
pandas==1.5.3
torch==1.13.1
torchvision==0.13.1
tqdm==4.65.0
autopep8
astropy
beautifulsoup4
black
bokeh
flake8
lxml
patsy
psutil
pylint
plotly
pyecharts
requests
scikit-learn
statsmodels  
simplejson      
yapf      

