ipywidgets
matplotlib
numpy
scip
pandas
tqdm
autopep8
astropy
beautifulsoup4
black
bokeh
flake8
lxml
patsy
psutil
pylint
plotly
pyecharts
requests
scikit-learn
statsmodels  
simplejson      
yapf      
