ipywidgets
matplotlib
numpy
pandas
torch
torchvision
torchaudio
tqdm
autopep8
astropy
beautifulsoup4
black
bokeh
flake8
lxml
patsy
psutil
pylint
plotly
pyecharts
requests
scikit-learn
statsmodels  
simplejson      
yapf      
